.avatar {
	border-radius: $circle;
	width: fit-content;
	overflow: hidden;
}

.smallAvatar {
	border-radius: $circle;
	width: fit-content;
	overflow: hidden;
}

.heroWrap {
	display: flex;
	justify-content: center;
	position: relative;
	height: 65px;
	display: flex;
}

.hero {
	position: absolute;
	display: flex;
	transform: translate(0, -65px);
	border-radius: $circle;
	border: $spc-3 solid $light;
	width: fit-content;
	overflow: hidden;
	background-color: $paper;

	@media screen and (max-width: $sm) {
		transform: translate(0, -100px);
	}
}
