.profile-banner {
  width: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.profile-banner > img {
  margin: auto;
  width: 66.6%;
  height: auto;
  border-radius: 10px;
}

@media(max-width: 768px){
  .profile-banner{
    background-size: contain;
    margin-top: 93px;
    width: 100%;
    height: auto;
  }

  .profile-banner > img {
    width: 100%;
    border-radius: 0;
    height: auto;
  }
}

@media(max-width: 440px){
  .profile-banner{
    margin-top: 92px;
  }
}