.profile-banner {
  width: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.profile-banner > img {
  margin: auto;
  width: 66.6%;
  height: auto;
}

@media(max-width: 768px){
  .profile-banner{
    background-size: contain;
    margin: 0;
    width: 100%;
    height: auto;
    margin-top: 0;
  }

  .profile-banner > img {
    width: 100%;
  }
}
