.profilePage {
	background-image: linear-gradient($dark 20%, $main 80%);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1),
		0 1px 10px 0 rgba(0, 0, 0, 0.2);
}

.profileTabs {
	background-color: transparent;
	display: flex;
}

.hero label {
	cursor: pointer;
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profileNav {
	display: flex;
	width: $bx-full;
	justify-content: center;
	align-items: center;
}
