.logo-home > p {
  font-size: 20px;
  text-shadow: #23395B 2px 2px;
}

.logo-home > h1 {
  text-shadow: #23395B 3px 3px;	
  font-size: 50px;
}

.login-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 350px;
  background-color: #23395B;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin-right: auto;
}

.login-card > form > input {
  border: none;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 5px;
  color: black;
  background-color: #CBF7ED;
}

.login-btn {
  width: 350px;
  height: 50px;
  background-color: #4891c5;
  border: none;
  border-radius: 5px;
  outline: none;
}


.signup-modal {
  position: fixed;
  border-radius: 5px;
  width: 500px;
  background-color: #23395B;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom:40px;
  z-index: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay-style {
  position: fixed;
  transform: translate(0, -53%);
  height: 100%;
  width: 100%;
  padding-top: 100px;
  padding-left: 33.3%;
  padding-right: 33.3%;
  background-color: #23395bb2;
  z-index: 100;
}

.btn-styles {
  background-color: transparent;
  padding-bottom: 50px;
  border: none;
  width: 15px;
  height: 15px;
} 

/* sign up popup form */
.open-popup {
  width: 350px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid #CBF7ED 1px;
  background-color: #161925;
  text-decoration: none;
  color: #CBF7ED;
  border: none;
  border-radius: 5px;
  outline: none;
}

.signup-modal > form > input {
  margin-top: 10px;
  height: 50px;
  padding-left: 5px;
  border-radius: 5px;
  border: none;
  color: #161925;
  font-size: 18px;
  background-color: #CBF7ED;
}

.signup-modal > form {
  display: grid;
  grid-gap: 10px;
  color: #CBF7ED;
  
}

.first-name {
  grid-column: 1;
  grid-row: 1;
}

.last-name {
  grid-column: 2;
  grid-row: 1;

}

.email {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.password {
  grid-row: 3;
}

.password-confirm {
  grid-column: 1;
  grid-row: 3;
  
}

.btn-submit-signup {
  grid-row: 5;
  grid-column: 1 /span 2;
  border: none;
  outline: none;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  background-color: rgb(31, 165, 31);
}

.btn-submit-signup:focus {
  margin-top: 4px;
  margin-left: 5px;
  height: 49px;
  width: 99%;
  background-color: rgb(31, 165, 31);
}

.disclaimer  {
  grid-row: 4;
  grid-column: 1 /span 2;
}

.disclaimer > p {
font-size: 12px;
color: #CBF7ED;
}

@media(max-width: 768px){
  #main{
    margin: 0;
  }

  *{
    width: 100%;
  }

  .login-btn{
    width: 100%;
  }

  .login-card{
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .open-popup{
    width: 100%;
  }

  .signup-modal {
    width: 94%;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .signup-modal > form {
    display: block;
    grid-gap: 10px;
    color: #CBF7ED;
    
  }

  .overlay-style {
    transform: translate(0, -55%);
    padding-left: 3%;
    padding-right: 3%;
    background-color: #23395bb2;
  }  
}