.nav {
  margin: auto;
  margin-left: 10px;
  width: auto;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #CBF7ED;
  float: right;
  padding: 10px;
  padding-left:15px;
  padding-right: 15px;
  margin: 20px;
}

.nav-link:hover {
  color: #CBF7ED;
}