.editModal {
	position: fixed;
	margin: auto;
	height: fit-content;
	width: 700px;
	right: 30%;
	left: 30%;
	bottom: 25%;
	border-bottom-left-radius: 5px;
	background-color: #23395b;
	z-index: 1000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.editAboutModal {
	padding: 25px;
	display: grid;
	grid-gap: 10px;
}

.editAboutModal > input {
	margin-top: 10px;
	height: 50px;
	padding-left: 5px;
	border-radius: 5px;
	border: none;
	color: #161925;
	font-size: 18px;
	background-color: #cbf7ed;
}

.editAboutModal > button {
	grid-row: 6;
	background-color: forestgreen;
	border-radius: 10px;
	height: 50px;
	width: 100%;
	border: none;
}

.openEditBtn {
	background-color: transparent;
	border: none;
	width: fit-content;
}

.editModalBtn {
	background-color: transparent;
	border: none;
	width: fit-content;
	height: fit-content;
}

.aboutDetails {
	display: grid;
	grid-gap: 50px;

	.aboutItem1 {
		grid-column: 1;
		grid-row: 1;
	}

	.aboutItem3 {
		grid-column: 1;
		grid-row: 2;
	}

	.aboutItem5 {
		grid-column: 1;
		grid-row: 3;
	}

	.aboutItem7 {
		grid-column: 1;
		grid-row: 4;
	}

	.aboutItem9 {
		grid-row: 5;
	}

	/* even */

	.aboutItem2 {
		grid-column: 2;
		grid-row: 1;
	}

	.aboutItem4 {
		grid-column: 2;
		grid-row: 2;
	}

	.aboutItem6 {
		grid-column: 2;
		grid-row: 3;
	}

	.aboutItem8 {
		grid-column: 2;
		grid-row: 4;
	}

	.aboutItem10 {
		grid-column: 2;
		grid-row: 5;
	}
}

@media (max-width: 768px) {
	.editModal {
		margin: auto;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
