.profileBanner {
	display: flex;
	justify-content: center;

	div {
		border-bottom-right-radius: $round;
		border-bottom-left-radius: $round;
	}

	@media screen and (max-width: $sm) {
		visibility: hidden;
		height: 120px;
	}
}

.uploadBanner {
	display: flex;
	align-self: flex-end;
	width: 0;
	color: $paper;
	cursor: pointer;
	transform: translate(-($lgIcon), 0);

	span {
		font-size: $lgIcon;
		border-radius: $round;
	}
}

.uploadBanner span:hover {
	background-color: rgba(255, 255, 255, 0.534);
}
