 @media (min-width: 992px){
	.container {
		padding-left: 100px;
		padding-right: 100px;
	}
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 5rem;
	background-color: #CBF7ED;
}

button {
	margin: 2px;
	float: right;
	padding: 2px;
	width: 130px;
	cursor: pointer;
}

.primarySearch {
	margin: 10px;
}

.nav {
	margin: 0px;
}

.menu-icon:hover {
	border: solid;
	border-width: 1px;
	border-color: #23395B;
	background-color: #406E8E;
}