	html,
	body {
    height: 100%;
    background-color: #406E8E;
  }

	body.blocked {
		overflow: hidden;
	}
	
	#wrap {
		min-height: 100%;
  }
  
  ::placeholder {
    color: #487697
  }
	
	.footer {
		position: relative;
		margin-top: relative;
		/* negative value of footer height */
		height: 10px;
		clear: both;
	}
	
	
	footer.footer {
		height: 20px;
		width: 100%;
	}
	
	p.copyright {
		color: #cbf7ed;
		line-height: 40px;
		font-size: 0.7em;
	}
	
	.overlay {
		position: absolute;
		background-color: rgba(0, 0, 0, .6);
		width: 100%;
		height: 100%;
	}
	
	#portal {
		height: 0;
	}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #CBF7ED;
}

#main {
	margin-top: 93px;
}

/* buttons */
button[type=submit]:hover {
  border:none;
  }
  
  button[type=submit]:focus {
    outline: none;
  }
  
  .btn-none {
    width: 0em;
    border: none;
    background-color: transparent;
  }
  
  button {
    margin: 2px;
    float: right;
    padding: 2px;
    width: 130px;
    cursor: pointer;
  }
  
  .btn-comment-submit {
    border-top: none;
    border-bottom: none;
    border-right: none;
    background-color: transparent;
  
  }
  
  .btn-logout {
    background-color: transparent;
    float: right;
    border:none;
    padding: 10px;
    width: fit-content;
  }
  
  .logout {
    padding: 10px;
    margin: 20px;
    float: right;
  }
  
  #fa-video {
    margin-left: 30px;
    background-color: transparent;
    border: none;
    width: fit-content;
  }
  
  
  /* input */
  input[type=text]:focus {
    outline: none;
  }
  
  input[type=text]:active {
    outline: none;
	}

	  /* Inbox */
	
	.inbox-modal {
    position: fixed;
    overflow: hidden;
    margin: auto;
    height: 500px;
    width: 400px;
    right: 100px;
    bottom: 0;
    border-radius: 5px;
    background-color: #23395B;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .dailog {
    background-color: #4891c5;
  }
  
  .open-inbox {
    color: #CBF7ED;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 20px;
    width: initial;
  }
  
  .open-inbox:focus {
    outline: none;
  }

  @media (max-width: 992px){
    
  }

	