$text: #cbf7ed;
$light: #76aace;
$main: #457b9d;
$dark: #094f6f;

$paper: #f1faee;
$accent: #e63946;
$info: #4891c5;
$overlay: rgba(21, 36, 53, 0.753);

$sndLight: #80e27e;
$sndMain: #4caf50;
$sndDark: #087f23;

$btnSuccess: #43a047;
$btnWarn: #c62828;

$black: rgb(40, 41, 49);

$smIcon: 20px;
$mdIcon: 30px;
$lgIcon: 40px;

$grey-50: #fafafa;
$grey-100: #f5f5f5;
$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey-400: #bdbdbd;
$grey-500: #9e9e9e;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$shad-1: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
	0px 1px 1px 0px rgba(0, 0, 0.14),
	0px 1px 3px 0px rgba(0, 0, 0, 0.12);

$shad-2: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
	0px 2px 2px 0px rgba(0, 0, 0, 0.14),
	0px 1px 5px 0px rgba(0, 0, 0, 0.12);

$shad-3: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
	0px 3px 4px 0px rgba(0, 0, 0, 0.14),
	0px 1px 8px 0px rgba(0, 0, 0, 0.12);

$shad-4: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
	0px 4px 5px 0px rgba(0, 0, 0, 0.14),
	0px 1px 10px 0px rgba(0, 0, 0, 0.12);

$shad-5: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
	0px 5px 8px 0px rgba(0, 0, 0, 0.14),
	0px 1px 14px 0px rgba(0, 0, 0, 0.12);

$spc-1: 1px;
$spc-2: 2px;
$spc-3: 3px;
$spc-4: 4px;
$spc-5: 5px;
$spc-6: 10px;
$spc-7: 20px;
$spc-8: 40px;

$spc-sm: 50px;
$spc-md: 100px;
$spc-lg: 150px;
$spc-xl: 300px;

$p-ten: 10%;
$p-twn: 20%;
$p-thr: 30%;
$p-fr: 40%;
$p-hlf: 50%;

$bx-xs: 300px;
$bx-sm: 400px;
$bx-md: 400px;
$bx-lg: 600px;
$bx-xl: 800px;

$bxr-1: 70vw;
$bxr-2: 75vw;
$bxr-3: 85vw;
$bxr-4: 95vw;
$bx-full: 100%;

$xs: 0px;
$sm: 600px;
$md: 960px;
$lg: 1260px;
$xl: 1500px;
$full: 1080px;

$z-lowest: 10;
$z-low: 20;
$z-mid: 30;
$z-high: 40;
$z-hightest: 50;

$sharp: 2px;
$dulled: 5px;
$round: 10px;
$rounder: 15px;
$circle: 100%;
