html,
body {
	height: 100%;
	width: 100%;
	background-color: #8ea8c3;
}

body.blocked {
	overflow: hidden;
}

::placeholder {
	color: #487697;
}

footer.footer {
	position: relative;
	height: 300px;
	width: 100%;
	background-color: #23395b;
}

p.copyright {
	position: absolute;
	width: 100%;
	color: #fff;
	line-height: 40px;
	font-size: 0.7em;
	text-align: center;
	bottom: 0;
}

#portal {
	height: fit-content;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #cbf7ed;
}

#main {
	margin-top: 93px;
	margin-bottom: 20%;
}

/* buttons */
button[type='submit']:hover {
	border: none;
}

button[type='submit']:focus {
	outline: none;
}

.btn-none {
	width: 0em;
	border: none;
	background-color: transparent;
}

button {
	margin: 2px;
	float: right;
	padding: 2px;
	width: 130px;
	cursor: pointer;
}

.btn-comment-submit {
	border-top: none;
	border-bottom: none;
	border-right: none;
	background-color: transparent;
}

.btn-logout {
	background-color: transparent;
	float: right;
	border: none;
	padding: 10px;
	width: fit-content;
}

.logout {
	padding: 10px;
	margin: 20px;
	float: right;
}

#fa-video {
	margin-left: 30px;
	background-color: transparent;
	border: none;
	width: fit-content;
}

/* input */
input[type='text']:focus {
	outline: none;
}

input[type='text']:active {
	outline: none;
}

/* Inbox */

.inbox-modal {
	position: fixed;
	overflow-y: scroll;
	margin: auto;
	height: 500px;
	width: 400px;
	right: 100px;
	bottom: 0;
	border-radius: 5px;
	background-color: #23395b;
	padding: 10px;
	z-index: 2000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dialog {
	background-color: #4891c5;
}

.open-inbox {
	color: #cbf7ed;
	background-color: transparent;
	border: none;
	padding: 10px;
	margin: 20px;
	width: initial;
}

.open-inbox:focus {
	outline: none;
}

.nav {
	margin: auto;
	margin-left: 10px;
	width: auto;
	align-items: center;
}

.nav-link {
	text-decoration: none;
	color: #cbf7ed;
	float: right;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 20px;
}

.nav-link:hover {
	color: #cbf7ed;
}

/* search */
input {
	outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}

input[type='search'] {
	background: #cbf7ed
		url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png)
		no-repeat 9px center;
	padding: 9px 10px 9px 32px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}

input[type='search']:focus {
	width: 130px;
	background-color: #cbf7ed;
	border-color: #66cc75;

	-webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
	-moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
	box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

.search input[type='search'] {
	width: 100px;
	padding-left: 10px;
	cursor: pointer;
}

.search input[type='search']:hover {
	background-color: #cbf7ed;
}

.search input[type='search']:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #cbf7ed;
	cursor: auto;
}

.search {
	width: 10px;
	color: #050c0a;
	background-color: #cbf7ed;
	border: none;
}

.search:hover {
	border: none;
	border-bottom: solid #cbf7ed 1px;
}

.search:hover {
	border: none;
	border-bottom: solid #cbf7ed 1px;
}

.search:focus {
	width: 100px;
}

@media (max-width: 538px) {
	#nav-bar {
		display: grid;
	}

	.search {
		grid-column: 1 / span 2;
		grid-row: 1;
	}

	#nav-bar > a {
		grid-column: 3;
		grid-row: 1;
	}

	.nav {
		grid-column: 1 / span 3;
		grid-row: 2;
		display: grid;
		grid-template-columns: auto;
		grid-gap: 100px;
		padding: 0;
	}

	.nav > a:nth-child(1) {
		margin: 0;
		padding: 0;
		width: 0;
		padding-bottom: 0;
		grid-column: 1;
		grid-row: 1;
	}

	.nav-link:nth-child(2) {
		margin: 0;
		padding: 0;
		width: 0;
		grid-column: 2;
		grid-row: 1;
	}

	.inbox-button {
		width: 0;
		margin: 0;
		padding: 0;
		grid-column: 3;
		grid-row: 1;
	}

	.open-inbox {
		margin: 0;
		width: 0;
		padding: 0;
	}
}

@media (max-height: 360px) {
	.footer {
		position: relative;
		top: 50%;
	}
}

@media (max-width: 768) {
	#main {
		margin-top: 0;
		margin-bottom: 30%;
	}
}
