.portal {
	height: fit-content;
}

.layout {
	.navbar {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: sticky;
		top: 0;
		z-index: $z-hightest;
		width: 100%;
		height: 100px;
		background-color: $main;

		@media screen and (min-width: 1260px) {
			padding-left: 20%;
			padding-right: 20%;
		}

		.topbar {
			display: flex;
			align-items: center;
			padding: 0 $spc-8 0 $spc-8;
			width: 100%;
			height: 50%;

			@media screen and (max-width: 600px) {
				padding: 0;
			}
		}

		span {
			display: flex;
			color: $paper;
			justify-items: center;
			align-items: center;
			border-radius: 100%;
			background-color: $main;
		}

		.logout {
			width: 20%;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			@media screen and (max-width: 600px) {
			}
		}

		.logout span {
			font-size: $lgIcon;
			height: 100%;
		}

		.navMap {
			height: 100%;
			width: 50%;
			display: flex;
			justify-content: center;
			flex-basis: 3;

			@media screen and (max-width: 600px) {
				height: 50%;
				width: 100%;
				justify-content: space-evenly;
			}
		}

		.navMap span {
			font-size: $lgIcon;
			color: $paper;
		}

		.navMap li {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100px;
			height: 100%;

			@media screen and (max-width: 600px) {
				height: 100%;
			}
		}

		.searchWrap {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			width: 80%;
			height: 100%;
			@media screen and (max-width: 600px) {
				padding: 0;
				margin: 0;
			}
		}

		.search {
			display: flex;
			align-items: center;
			height: 30px;
			width: fit-content;
			border: 1px solid $light;
			border-radius: 50px;
		}

		.search input {
			height: 100%;
			width: 30px;
			transition: width 500ms;
			transition-timing-function: cubic-bezier(
				0.4,
				0,
				0.2,
				1
			);
			border-radius: 50px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		.search input:active,
		input:focus {
			width: 200px;
		}
	}

	.main {
		min-height: 80vh;
		background-color: $grey-300;
	}

	.footer {
		position: relative;
		height: 300px;
		width: 100%;
		background-color: $dark;
	}

	.footer .copyright {
		position: absolute;
		width: 100%;
		color: $text;
		text-align: center;
		bottom: 0;
	}
}

/* Inbox */
.inboxModal {
	position: fixed;
	overflow-y: scroll;
	margin: auto;
	height: 500px;
	width: 400px;
	right: 100px;
	bottom: 0;
	border-radius: 5px;
	background-color: $dark;
	color: $text;
	padding: 10px;
	z-index: 2000;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
		0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* search */
